# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances Node (Frontend & Signaling)
node_modules
frontend/dist
frontend/dist-ssr
*.local

# Rust & Tauri (Backend)
backend/target/
backend/gen/schemas/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables and secrets
.env
.env.*
!.env.example
*.pem
*.key
secrets.json
keys.json
